.title {
    background-color: #FFFFFF;
    font-size: 25px;
    margin: 0;
    padding: 20px 35px;
}

body {
    background-color: #F2F2F2;
    max-width: 1200px;
    margin: 0 auto;
}

.background{
    background-color: #FFFFFF;
}
