<html style="height: 100%; background-image: linear-gradient(#CC0000, #990000);">
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>




<!--
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 style="text-align:center; color:white;" class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
      <% include ./partials/messages %>
      <form style="text-align: center; font-size: 24; color:white;" action="/users/loginlocal" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <br>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <br>
        <div class="form-group">
          <label for="password">Password</label>
          <br>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <br>
        <button style="font-size:24;" type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p style="text-align:center; color:white;" class="lead mt-4">
        No Account? <a a style="color: blue; font-size:20;" href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>
</html> -->
