<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://use.typekit.net/ebq4wgm.css" />
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.2.1/trix.js"></script>
<!-- <script type="text/javascript" src="http://livejs.com/live.js"></script> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<head>
  <a href="https://www.usc.edu" target="_blank">
    <img id="usc-logo" src="/images/usc_logo_big.png" alt="University of Southern California" style="height: 100px" />
  </a>
</head>
<div class="container d-flex align-items-center">
  <div class="row login-box mt-5 mb-20">
    
    <div class ="col-6 p-3 content-box d-flex flex-column justify-content-center align-items-center">
      <div id="title" class="row justify-content-center mb-4">
        <div class ="col-12 my-auto">
          <h2>Letter of Recommendation Generator</h2>  
        </div>          
      </div>
      <div id="welcome" class="row justify-content-center mb-4">
        <div class ="col-12 my-auto">
    
          <p><h5>Welcome! Please sign in with Google Account</h5>  </p>
        </div>    
      </div>
      <div class ="row ">
        <div class ="col-12 my-auto justify-content-center mb-4">
          <script src="https://accounts.google.com/gsi/client" async defer>
  
          </script>
          <div id="g_id_onload" data-client_id="946973074370-6k1l3346s9i1jtnj3tf7j797vtc6ua3j.apps.googleusercontent.com"
          data-login_uri="/users/login" data-auto_prompt="false"></div>
          <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
          data-shape="rectangular" data-logo_alignment="left"></div>
        </div>    
      </div>
      <div id="welcome" class="row justify-content-center">
        <div class ="col-12 my-auto" id = "tip">
          <p>You can use your usc.edu email with Google Authentication</p>  
        </div>    
      </div>
    </div>
    <div class ="col-6 mx-0">
      <img src = "/images/usc.jpeg" id = "banner">
    </div>
  
  </div>

</div>

</html>