.About{
  width: 80%;
  background-color: white;

  /*padding: create space inside this element*/
  padding-left: 30px;
  padding-right: 30px;

  /*margin: create space outside this elsement*/
  margin-left: 100px;

  

  /*centering entire element*/
  margin-left: auto;
  margin-right: auto;
}

.video-intro{
  width: 100%;
  height: 320px;
}
#about-table td {
    height: 60px;
}

#description {
  padding-right: 60px;
  padding-left: 60px;
  font-size: 20px;
  font-weight: lighter;
}

#navigation {
  padding-right: 60px;
  padding-left: 100px;
  font-size: 20px;
  font-weight: lighter;
  color: maroon;
}

.title {
  padding-top: 60px;
}

.instructions{
  padding-right: 50px;
  padding-left: 60px;
  font-size: 20px;
  font-weight: lighter;
}

#vid-box {
  padding: 0px;
}

#vid1 {
  display: block;
  margin: auto;
}

#vid2 {
  float: right;
  padding-right: 70px;
  padding-bottom: 200px;
}

#subtitle1 {
  height: 320px;
}

#subtitle2 {
  font-style: italic;
  font-size: 16px;
  float: right;
  padding-right: 230px;
  padding-bottom: 20px;
}


.icons{
  float: left;
  height: 32px;
  width: 5%;
  margin: 1%;
  
}
.detail{
  float: left;
  width: 93%;
}
.icon{
  height: 100%;
}

.symbols{
  padding-right: 50px;
  padding-left: 60px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 300px;
}
.row{
  width: 100%;
}

.sample-instructions {
  padding-right: 60px;
  padding-left: 60px;
  font-size: 20px;
  font-weight: lighter;
}

.sample-instructions img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#sample-template-description {
  padding-right: 60px;
  padding-left: 60px;
  font-size: 20px;
  font-weight: lighter;
}