.About{
  width: 80%;
  background-color: white;

  /*padding: create space inside this element*/
  padding-left: 30px;
  padding-right: 30px;

  /*margin: create space outside this element*/
  margin-left: 100px;

  

  /*centering entire element*/
  margin-left: auto;
  margin-right: auto;
}
#about-table td {
    height: 60px;
}

#description {
  padding-right: 60px;
  padding-left: 60px;
  font-size: 20px;
  font-weight: lighter;
}

#navigation {
  padding-right: 60px;
  padding-left: 100px;
  font-size: 20px;
  font-weight: lighter;
  color: maroon;
}

.title {
  padding-top: 60px;
}

#vid-box {
  padding: 0px;
}

#vid1 {
  float: left;
  padding-left: 70px;
  
}

#vid2 {
  float: right;
  padding-right: 70px;
  padding-bottom: 200px;
}

#subtitle1 {
  height: 320px;
}

#subtitle2 {
  font-style: italic;
  font-size: 16px;
  float: right;
  padding-right: 230px;
  padding-bottom: 20px;
}
