.title {
    background-color: #FFFFFF;
    font-size: 32px;
    margin: 0;
    padding: 20px 35px;
}

body {
    background-color: #F2F2F2;
    margin-left: 15%;
    margin-right: 15%;
}

.background{
    background-color: #FFFFFF;
}