#table0 td, #table1 td, #table2 td {
    height: 60px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

#page0, #page1, #page2 {
    padding: 20px;
    display: flex;
}

#buttons0, #buttons1, #buttons2 {
    display: flex;
    margin: auto;
}

.archive {
    background-color: #FFFFFF;
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 20px;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.close-container {
    height: 20px;
}

.icons {
    width: 200px;
}


img.icon {
    height: 25px;
    width: 25px;
    opacity: 1.0;

    margin-left: 5px;
}

img.clickable {
    cursor: pointer;
    transition: 0.8s;
}

img.clickable:hover {
    opacity: 0.6;
    cursor: pointer;
}

.image-container {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.template-name {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#button-show-hide {
    float: right;
    background-color: #FFCC00;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1.0;
    transition: 0.6s;
    margin-right: 20px;
    width: 25px;
    height: 25px;
}

#button-show-hide:hover {
    opacity: 0.6;
    cursor: pointer;
}

.archive-title {
    margin-bottom: 10px;
    font-weight: bold;
    float: left;
}

.archive-modal-div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.archive-email-modal-textarea {
    height: 300px;
}

.archive-modal {
    margin-top: 5%;
}

.archive-table {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
