.archive {
    background-color: #FFFFFF;
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-container {
    height: 20px;
}

.icons {
    width: 200px;
}


img.icon {
    height: 25px;
    width: 25px;
}

img.clickable {
    cursor: pointer;
}

.image-container {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.template-name {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#button-show-hide{
    float: right;
    background-color: #FFCC00;
}