.title {
    padding-left: 50px;
}

.large-circle-button {
    border-radius: 50%;
    color: white;
    background-color: #C4C4C4;
    text-align: center;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-decoration: none;
    margin-left: 40px;
    display: block;
}

.small-circle-button {
    border-radius: 50%;
    color: white;
    background-color: rgb(143, 143, 143);
    text-align:center;
    font-size: 10px;
    height: 30px;
    width: 30px;
    text-decoration: none;
}

.large-plus-button:hover {
    background-color: rgb(136, 136, 136);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#save-button {
    flex-basis: auto;
    width: 350px;
    height: 40px;
    background-color: #FF473A;
    color: black;
    text-align: center;
    font-size: 24px;
}

#save-button:hover {
    background-color: rgb(248, 61, 47);
}

#letter-container {
    display: flex;
    justify-content: center;
}

#letter-container #letter-text-area {
    height: 300px;
    width: 800px;
    flex-basis: auto;
    border: thick solid black;
    font-size: 13px;
}

#questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-outer-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.question-button {
    flex-basis: auto;
    margin-left: 10px;
    margin-top: 12px;
}

.question-container {
    flex: 1;
    width: 700px;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(80, 80, 80);
    box-shadow: 2px 2px #888888;
    margin: 5px 0px;

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.question-container .text-area {
    border: none;
    flex: 1;
    margin: 8px 3px;
    font-size: 15px;
    font-weight: bold;
    height: 22px;
}

.question-container .text-field {
    border: none;
    flex: 1;
    margin: 2px 3px;
    font-size: 15px;
    font-weight: bold;
    height: 22px;
    color: rgb(64, 64, 157);
}

.question-container .text-field::-webkit-input-placeholder {
    color: rgb(64, 64, 157);
}

.question-container .multiple-choices-container {
    flex: 1;
    margin: 0px 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.question-container .multiple-choices-container .multiple-choice-container {
    flex: 1;

    display: flex;
    flex-direction: row;
}

#add-question-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

#add-question-modal .content{
    margin: 15% auto; /* 15% from the top and centered */
    background-color: #E0E0E0;
    padding: 15px;
    width: 50%; /* Could be more or less, depending on screen size */
    border: 1px solid black;
}

#add-question-modal .content h1 {
    color: #EB5757;
    flex-basis: auto;
}

#add-question-modal .content button {
    height: 40px;
    display: block;
    background-color: transparent;
    border: none;
    flex: 1;
    text-align: left;
    font-size: 20px;
    padding-left: 15px;
}

.line {
    height: 1px;
    border-top: 1px solid #BDBDBD;
    margin-top: 3px;
}