#email-subject-container {
    background-color: #e8e8e8;
    border: thick solid black;
    margin: 15px auto;
    width: 80%;
}

#letter-container #email-subject-text-area {
    height: 300px;
    width: 800px;
    font-size: 13px;
    padding-bottom: 5px;
}

#email-body-container {
    background-color: #e8e8e8;
    border: thick solid black;
    margin: 15px auto;
    width: 80%;
}

#email-body-container #email-body-text-area {
    height: 300px;
    width: 800px;
    font-size: 13px;
    padding-bottom: 5px;
}

#letter-text {
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
}

.email-button {
    background-color: #FF473A;
    font-size: 20px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    margin:auto;
    display:block;
    cursor: pointer;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}