.header {
    background-color: #FF473A;
    height: 40px;
    width: 100%;
}

.title {
    font-size: 32px;
    margin: 0;
    padding: 20px 8px;
}

.optional-message {
    font-size: 20px;
    margin: 0px;
    padding-left: 8px;
}

.question {
    font-size: 20px;
    margin: 0px;
    padding-left: 8px;
}

.question textarea {
    display: block;
    font-family: "Montserrat";
    font-size: 16px;
    height: 80px;
    line-height: 16px;
    width: 100%;
}

input[type="textarea"] {
    display: block;
    font-family: "Montserrat";
    font-size: 16px;
    height: 80px;
    line-height: 16px;
    margin-left: auto;
    margin-right: auto;
}

.option-container {
    align-items: center;
    display: flex;
    margin-left: 4px;
}

label {
    padding-left: 4px;
}

.input-submit {
    background-color: #FF473A;
    cursor: pointer;
    display: block;
    font-family: "Montserrat";
    font-size: 20px;
    height: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #FFFFFF;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
}

.modal-title {
    color: #EB5757;
    font-size: 36px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

/* The Close Button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-container {
    height: 20px;
    position: relative;
}

.arrow-box {
    position: absolute;
    background: #C03737;
    border: 2px solid #BA0404;
    border-radius: 4px;
    opacity: 0.75;
    text-align: center;
    top: 50%;
    left: 103%;
    transform: translate(-0%, -50%);
    width: 15%;
}

.arrow-box:after, .arrow-box:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 50%;
}

.arrow-box:after {
    border-color: rgba(192, 55, 55, 0);
    border-right-color: #C03737;
    border-width: 10px;
    margin-top: -10px;
}

.arrow-box:before {
    border-color: rgba(186, 4, 4, 0);
    border-right-color: #BA0404;
    border-width: 13px;
    margin-top: -13px;
}

.arrow-text {
    color: white;
    font-size: xx-small;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    left: 100%;
    top: 0%;
}

.error {
    box-shadow: 0 0 4px 3px rgb(245, 0, 0);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(192, 55, 55, 1);
}

.error-container {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.form-entry{
    background: #FFFFFF;
}