body {
    background-color: #F2F2F2 !important;
}

.body {
    width: 80%;
    max-width: 800px !important;
    margin: auto;
    background-color: white;
    padding: 20px 50px;
}

.invalid-feedback {
    color: black;
}

#form-title {
    font-size: 30px;
    text-align: center;
}

.form-group {
    background-color: white;
    border-radius: 10px;
    padding-bottom:10px;
    text-align: center;
}

#required {
    color: #9d2235;
}

.question-container {
    padding-top: 5px;
    margin-bottom: 30px;
}
.question {
    margin-left: 5px;
    display: inline;
    font-weight: bold;
}

#outside {
    /* padding-top: px; */
}

.btn-primary {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #EFEFEF;
    color: black;
}

#button-container {
    border-color: white;
}

.title {
    font-size: 24px !important;
    text-align: center;
}

.completed-box{
    margin: 50px;
}

#check-icon {
    font-size: 100px;
    color: green;
    margin-bottom: 5px;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: lightgray;
}
/* 
.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
} */
