.container-fluid {
    background-color: #900000;
}

.container {
    margin-left: 40px;
    margin-top: 30px;
}

p.question {
    margin-left: 30px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    width: 450px;
    height: 45px;
    text-indent: 8px;
    line-height: 45px;
    font-size: 18px;
}

.input-submit {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 15px;
    margin-right: 60px;
}

input[type=text] {
    height: 45px;
    width: 95%;
}

textarea {
    height: 45px;
    width: 95%;
}

label {
    color: #FFFFFF;
}

table {
    width: 95%;
}

button {
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 15px;
}

#header {
    height: 100px;
}

#form-title {
    font-size: 36px;
    margin-left: 15px;
}

#form-background {
    background-color: #900000;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
    margin-left: 50px;
    width: 90%;
    scroll-behavior: auto;
}

#mandatory-question-reminder {
    font-size: 20px;
    margin-left: 15px;
    color: #900000;
}