.title {
    padding-left: 8px;
}

.convert-pdf {
    background-color: #FF473A;
    font-size: 20px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    margin:auto;
    display:block;
    cursor: pointer;
}

.footer-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.resizable {
    display: inline-block;
    text-align: center;
}

#letter-text {
    margin-top: 2px;
}

.resizable img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
}


#letter-container {
    background-color: #e8e8e8;
    border: thick solid black;
    margin: 15px auto;
    width: 80%;
}


#letter-container #letter-text-area {
    height: 300px;
    width: 800px;
    font-size: 13px;
    padding-bottom: 5px;
}

#letter-text {
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
}

.footer-img {
    margin-top: 10px;
}


#add-question-modal {
	display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

#add-question-modal .inside{
    margin: 15% auto; /* 15% from the top and centered */
    background-color: #E0E0E0;
    padding: 15px;
    width: 50%; /* Could be more or less, depending on screen size */
    border: 1px solid black;
}

#add-question-modal .inside h1 {
    color: #EB5757;
    flex-basis: auto;
}

#email-subject-container{
    background-color: #e8e8e8;
    border:black;
    margin: 15px auto;
    width: 50%;
}

#email-subject-text-area{
    /* height: 300px; */
    width: 1000px;
    font-size: 13px;
    padding-bottom: 5px;
}

#email-body-container #email-body-text-area{
    height: 300px;
    width: 800px;
    font-size: 13px;
    padding-bottom: 5px;
}

#email-body-text-area{
    height: 300px;
    width: 800px;
    flex-basis: auto;
    border:solid, black;
    font-size: 13px;
    overflow-y: scroll;
}

#email-body-container {
    background-color: #e8e8e8;
    border: black;
    margin: 15px auto;
    width: 80%;
}
