@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-image: radial-gradient(#CC0000, #990000);
  /* background-image: url('/images/tommy.jpeg'); */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-repeat: no-repeat;
}


.login-box{
  background-color: white;
  min-width: 700px !important;
  min-height: 400px;
  border-radius: 3px;
}

.content-box {  
  align-items: center;
}

.container {
  display: flex;
}


#welcome {
  color: grey;
  text-align: center;
}

#title {
  color: black;
  text-align: center;
}

#g_id_onload{
  justify-content: center;
}

#banner {
  max-width: 100%;
  max-height: 100%;
  margin: 7px;
}

#tip {
  font-size: 10px;
  color: grey;
}


/*
html {
    height: 100%;
}

body {
    background-image: linear-gradient(#CC0000, #990000);
    width: 100%;
    height: 100%;
    color: #FCFCFC;
    margin-top: 220px;
    text-align: center;
}

.title {
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
}

.subtitle {
    font-size: 12px;
}

.sign-in-button {
    cursor: pointer;
    margin-top: 20px;
    padding: 8px 8px;
}

.sign-in-button img {
    padding-right: 4px;
    vertical-align: middle;
}

.sign-in-button span {
   font-family: Montserrat;
    font-size: 16px;
    vertical-align: middle;
} */