.side-nav {
    background-color: #111;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 40px;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1;
}

.open-btn {
    cursor: pointer;
    font-size: 28px;
    padding-left: 8px;
}

.side-nav a {
    color: #818181;
    display: block;
    font-size: 20px;
    padding: 8px 12px;
    transition: 0.3s;
    text-decoration: none;
}

.side-nav a:hover {
    color: #f1f1f1;
}

.side-nav .close-btn {
    font-size: 36px;
    margin-left: 50px;
    padding: 0px;
    position: absolute;
    right: 8px;
    top: 0;
}