.body {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px 50px;
}

.card {
    background-color: blue;
    padding: 10px 10px;
    margin: 10px 10px;
}

.card .row {
    margin: 5px;
    width: 100%;
    position: relative;
}

.card .row .col-radio-input {
    padding-left: 40px;
}

.card .row .col-radio-delete {
    position: absolute;
    top: 8px;
    right: 25px;
    width: 3px;
}

.tag {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 2px;
}

.tag-header {
    border: white;
    margin: 2px;
}

.add-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.add-btn:hover {
    background-color: lightgray;
}

#editor {
    height: 500px;
}

.info:hover {
    cursor: pointer;
}

i:hover {
    cursor: pointer;
}

.tag:hover {
    background-color: lightgray;
    cursor: pointer;
}

.card:focus-within {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.no-focus {
    box-shadow: none !important;
}

.span-insert {
    background-color: lightblue;
    border-radius: 5px;
}

.span-insert-is-invalid {
    background-color: #FF7F7F;
}

.editor-is-invalid {
    border-color: red !important;
}