.title {
    padding-left: 50px;
}

.section-header {
    color: #FF473A;
    text-align: center;
}

#name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#name-container .text-field {
    border: none;
    flex: 1;
    margin: 2px 3px;
    font-size: 15px;
    font-weight: bold;
    height: 22px;
    width: 300px;
    text-align: center;
    cursor: text;
}

.upload-preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#letterhead-preview {
    flex-basis: auto;
}

#letterhead-upload {
    flex-basis: auto;
}

#footer-preview {
    flex-basis: auto;
}

#footer-upload {
    flex-basis: auto;
}

.large-circle-button {
    border-radius: 50%;
    color: white;
    background-color: #C4C4C4;
    text-align: center;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-decoration: none;
    margin-left: 40px;
    display: block;
    cursor: pointer;
}

.small-circle-button {
    border-radius: 50%;
    color: white;
    background-color: rgb(143, 143, 143);
    text-align: center;
    font-size: 10px;
    height: 30px;
    width: 30px;
    text-decoration: none;
    cursor: pointer;
}

.large-plus-button:hover {
    background-color: rgb(136, 136, 136);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#save-button {
    flex-basis: auto;
    width: 350px;
    height: 40px;
    background-color: #FF473A;
    color: black;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

#save-button:hover {
    background-color: rgb(248, 61, 47);
}

#letter-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#letter-container #letter-text-area {
    height: 300px;
    width: 800px;
    flex-basis: auto;
    border: thick solid black;
    font-size: 13px;
    
    overflow-y: scroll;
}

#questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-outer-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.required-checkbox-container {
    flex-basis: auto;

    margin-right: 6px;
}

.question-button {
    flex-basis: auto;
    margin-left: 10px;
    margin-top: 12px;
}

.question-container {
    flex: 1;
    width: 700px;
    max-width: 700px;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(80, 80, 80);
    box-shadow: 2px 2px #888888;
    margin: 5px 0px;

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.question-container .text-area {
    border: none;
    flex: 1;
    margin: 8px 3px;
    font-size: 15px;
    font-weight: bold;
    height: 22px;
    min-height: 22px;
    resize: vertical;
}

.question-container .text-field {
    border: none;
    flex: 1;
    margin: 2px 3px;
    font-size: 15px;
    font-weight: bold;
    height: 22px;
    color: rgb(64, 64, 157);
}

.question-container .text-field::-webkit-input-placeholder {
    color: rgb(64, 64, 157);
}

.question-container .multiple-choices-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.question-container .multiple-choices-container .multiple-choice-container {
    flex: 1;
    border-top: 2px solid rgb(105, 105, 247);
    padding: 0px 10px;

    display: flex;
    flex-direction: row;
}

.question-container .multiple-choices-container .multiple-choice-container .text-area-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    flex-grow: 1;
}

#add-question-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

#add-question-modal .content {
    margin: 15% auto; /* 15% from the top and centered */
    background-color: #E0E0E0;
    padding: 15px;
    width: 50%; /* Could be more or less, depending on screen size */
    border: 1px solid black;
}

#add-question-modal .content h1 {
    color: #EB5757;
    flex-basis: auto;
}

#add-question-modal .content button {
    height: 40px;
    display: block;
    background-color: transparent;
    border: none;
    flex: 1;
    text-align: left;
    font-size: 20px;
    padding-left: 15px;
}

#warning-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

#warning-modal .content {
    margin: 15% auto; /* 15% from the top and centered */
    background-color: #E0E0E0;
    padding: 15px;
    width: 50%; /* Could be more or less, depending on screen size */
    border: 1px solid black;
}

#warning-modal .content button {
    height: 40px;
    display: block;
    background-color: white;
    flex: 1;
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

#warning-modal .content h1 {
    color: black;
    flex-basis: auto;
}

.line {
    height: 1px;
    border-top: 1px solid #BDBDBD;
    margin-top: 3px;
}

.error-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.error-column-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 17px;
}

.error-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrow-box {
    flex-basis: auto;
    position: relative;
    background: #C03737;
    border: 2px solid #BA0404;
    border-radius: 4px;
    opacity: 0.75;
    text-align: center;
}

.arrow-box:after, .arrow-box:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 50%;
}

.arrow-box:after {
    border-color: rgba(192, 55, 55, 0);
    border-right-color: #C03737;
    border-width: 10px;
    margin-top: -10px;
}

.arrow-box:before {
    border-color: rgba(186, 4, 4, 0);
    border-right-color: #BA0404;
    border-width: 13px;
    margin-top: -13px;
}

.arrow-text {
    color: white;
    font-size: xx-small;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.fill {
    align-self: start;
    padding-right: 17px;
}

.error {
    box-shadow: 0 0 4px 3px rgb(245, 0, 0);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(192, 55, 55, 1);
}

.tag {
    color: white;
    background-color: lawngreen;
    font-weight: bolder;
    border-radius: 0.2em;
    box-shadow: 1.5px 1.5px 2px #b9b9b9;
}

.tag-unknown {
    color: white;
    background-color: red;
    font-weight: bolder;
    border-radius: 0.2em;
    box-shadow: 1.5px 1.5px 2px #b9b9b9;
}

/* question */
.icon-effects {
    opacity: 0.5;
    transition: 0.4s;
}

.icon-effects:hover {
    opacity: 1.0;
    cursor: pointer;
}
