#templates-page0,
#templates-page1 {
    padding: 20px;
    display: flex;
}

#templates-buttons0,
#templates-buttons1 {
    display: flex;
    margin: auto;
}

#tmp-header {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

#templates-table0 td,
#templates-table1 td {
    height: 60px;
}

.templates {
    background-color: #FFFFFF;
}

.add-btn {
    background-color: #990000;
    color: white;
    cursor: pointer;
    font-size: 15px;
    width: 250px;
    position: relative;
    float: right;
}

.add-btn:hover {
    color: #FFCC00;
}

.actions {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 20px;
    padding-right: .75em;
    padding-top: .5em;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-container {
    height: 20px;
}

.container {
    background-color: white;
}

.input-form {
    padding-top: 25px;
    text-align: center;
    margin-left: 5%;

}

.input-submit {
    background-color: #990000;
    font-size: 18px;
    width: 6.75em;
    height: 2.5em;
    transition: 0.6s;
    border-radius: 0;
    border: none;
    color: white;
    float: right;
    opacity: 1.0;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-right: 5%;
    border-radius: 10px;
}

.input-submit:hover {
    cursor: pointer;
    color: #FFCC00;
}

.image-container {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

img.icon {
    height: 25px;
    width: 25px;
    opacity: 1;
    transition: 0.6s;
    float: right;
    padding-right: 45px;
}

img.icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.subtitle {
    font-size: 20px;
}

.subtitle_cont {
    padding-bottom: 10px;
}

.template-modal {
    margin-top: 15%;
}

.metric {
    background-color: #990000;
    border-radius: 15px;
    margin: 10px;
    padding: 10px 10px 10px;
    height: fit-content;
}

.popover {
    max-width: 100%;
    width: max-content;
}

.popover-body {
    margin: 0px 10px;
}

.metric-title {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5px;
}

.metric-text {
    color: white;
    margin-bottom: 5px;
}