

.templates{
    background-color: #FFFFFF;
}

.addBtn{
    background-color: transparent;
    border: none;
    /*padding: 15px 20px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    font-size: 16px;
    outline-style: none;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close-container {
    height: 20px;
}

.input-form {
    padding-top: 25px;
    text-align: center;
}

/*.input-text {
    font-size: 20px;
    line-height: 20px;
    flex: 1;
}*/

.input-submit {
    background-color: #FF473A;
    font-size: 12px;
    margin-top: 50px;
    width: 180px;
    height: 40px;
    transition: 0.6s;
    border-radius: 20px;
    border: none;
    color: white;
    letter-spacing: 2px;
    float: right;
    opacity: 1.0;
    -webkit-box-shadow: 6px 4px 21px 1px rgba(0,0,0,0.21);
    -moz-box-shadow: 6px 4px 21px 1px rgba(0,0,0,0.21);
    box-shadow: 6px 4px 21px 1px rgba(0,0,0,0.21);
    text-transform: uppercase;
}

.input-submit:hover {
    cursor: pointer;
    opacity: 0.6;
}



.image-container {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.template-name {
    /*left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);*/
}

img.icon {
    height: 25px;
    width: 25px;
    opacity: 1;
    transition: 0.6s;
}

img.icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.subtitle {
    font-size: 18px; 
}

.subtitle_cont {
    padding-bottom: 10px; 
}