@font-face {
	font-family: 'National';
	src: url('../fonts/NationalWeb-Regular.eot');
	src: local(':)'),
	url('../fonts/NationalWeb-Regular.woff') format('woff'),
	url('../fonts/NationalWeb-Regular.ttf') format('truetype'),
	url('../fonts/NationalWeb-Regular.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

body {
  font-family: 'National' !important;
  margin: 0px;
}

a {
  color: #990000;
  text-decoration: none;
}