<link rel="stylesheet" href="https://use.typekit.net/ebq4wgm.css" />
<link rel="stylesheet" type="text/css" href="/css/header.css" />

<div class="header-container">
  <div class="container-content">
    <div class="left-side">
      <b id="lrg"
        ><a href="recommender-dashboard">Letter of Recommendation</a></b
      >
      <b><a href="recommender-dashboard">Recommendations</a></b>
      <b><a href="template-dashboard">Templates</a></b>
      <b><a href="archive">Archive</a></b>
      <b><a href="profile">Profile</a></b>
      <b><a href="about">About</a></b>
      <b><a href="logout">Logout</a></b>
    </div>
    <div class="right-side">
      <b><a id="logout" href="logout">Logout</a></b>
      <img id="usc-logo" src="/images/usc_logo_big.png" />
    </div>
    <!-- <b><a></a></b><b><a></a></b><b><a></a></b><b><a></a></b><b><a></a></b><b><a></a></b><b><a></a></b><b><a></a></b> -->
  </div>
</div>
