<link rel="stylesheet" type="text/css" href="/css/header.css" />

<div class="container">
    <img id ="usc-logo" src="/images/usc_logo_big.png"/>
    <b><a href="recommender-dashboard">Recommendations</a></b>
    <b><a href="template-dashboard">Templates</a></b>
    <b><a href="archive">Archive</a></b>
    <b><a id="logout" href="logout">Logout</a></b>
</div>
