<link rel="stylesheet" href="https://use.typekit.net/ebq4wgm.css">
<link rel="stylesheet" type="text/css" href="/css/header.css" />

<div class="container">
    <div class="container-content">
        <b id="lrg"><a href="recommender-dashboard">Letter of Recommendation Generator</a></b>
        <b><a href="recommender-dashboard">Recommendations</a></b>
        <b><a href="template-dashboard">Templates</a></b>
        <b><a href="archive">Archive</a></b>
        <b><a id="logout" href="logout">Logout</a></b>
        <img id ="usc-logo" src="/images/usc_logo_big.png"/>
    </div>
</div>
