<link rel="stylesheet" type="text/css" href="/css/side-nav.css" />

<div id="mySidenav" class="side-nav">
    <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>
    <a href="recommender-dashboard">Recommendations</a>
    <a href="template-dashboard">Templates</a>
    <a href="login">Logout</a>
</div>
      
<span class="open-btn" onclick="openNav()">&#9776;</span>
      
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>