<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <link rel="stylesheet" href="/stylesheets/style.css"/>
      <link rel="stylesheet" type="text/css" href="/css/all.css"/>
      <link rel="stylesheet" type="text/css" href="/css/about.css"/>
      <link rel="stylesheet" type="text/css" href="/css/table.css"/>
      <link rel="stylesheet" type="text/css" href="/css/modal.css"/>
      <style type="text/css">

      </style>
  </head>
  <body>
    <header>
        <% include ../partials/header %>
    </header>

    <div class="About">
   
        <p class="title"><%= title %></p>
        <br>
        <p id="description"> In academia and industry, writing letters of recommendation is a very
            important task. Many faculty and professionals have a standard template
            that is merely customized for each request. Others may ask the person to
            write the recommendation himself, then verify it is accurate before signing.
            Although this may work, it would be much better if the person requesting
            the recommendation could help structure the recommendation.
        <br><br>
            This application allows a person requesting a recommendation to submit all
            of the information he wants included through a form, and the person
            writing the recommendation can then automatically pull that information
            into a template that he has created. After the letter has been generated,
            the recommender can download it and ensure it is accurate. After the
            recommender approves it, the original person can also download the
            electronic version of the letter.
        </p>
        <br>
        
        <!-- Videos can be remade and re-added once UI changes are complete -->
        <!-- <table>
          <p class="title">Tutorials</p>
          <br><br><br>
          <td>
            <div id="vid-box">
              <td>
                <div id="subtitle1"> Create Template </div>
                <video id ="vid1" width="320" height="240" controls>
                  <source src="/images/create-temp.mov" type="video/mov">
                </video>
              </td>
              <td>
                <div id="subtitle2"> Create Recommendation </div>
                <video id="vid2" width="320" height="240" controls>
                  <source src="/images/create-temp.mp4" type="video/mp4">
                </video>
              </td>
            </div>
          </td>
        </table> -->
        <hr>
        <p class="title">Quick Navgation</p>
        <br>
        <ul id="navigation">
          <li>Video Introduction</li>
          <br>
          <li>Create Templates</li>
          <br>
          <li>Send Recommendation</li>
          <br>
          <li>View History</li>
        </ul>
        <br>
        <hr>
        <p class="title">Video Introduction</p>
        <br>    
          <div id="subtitle1">  
          <video id ="vid1" width="480" height="320" controls>
            <source src="/images/create-temp.mov" type="video/mov">
          </video>
          </div>  
        <br>
  
        <hr>
        <p class="title">Create Templates</p>  
        <ul id="navigation">
          <li>Instructors can create templates in template section in the nav bar</li>
          <li>Direct into template section</li>
          <li>SCreate the template in the upper right corner</li>
          <li>Enter the name in Template name input box and click create</li>
          <li>You can see the DIY template page based on the template we provide</li>
          <li>If you want to add more information, click the bottom left plus sign in the first red box</li>
          <li>If you don’t want any part of the template, you can click the trash bin sign on the right side
          </li>
          <li>If you want apply any custom template, click the choose file button at the bottom and upload the template you want to use</li>
          <li>After you submit the template, it will shows  on the main page of template</li>
        </ul>
        <br>
        <hr>
        <p class="title">View Recommendations</p>  
        <ul id="navigation">
          <li>You must have at least one template before you are able to create recommendation</li>
          <li>Click the create recommendation button on the top right to create send the recommendation template to students to ask students fill the recommendation questionnaire
          </li>
          <li>The sending email window will pop up. Instructors should choose a template, and then fill in the student’s email address, the subject of the email and the content.
          </li>
          <li>Instructors can check whether the student has filled the form by the form status on the Recommendations page. A green check mark means the form is completed.
          </li>
          <li>After the form is filled, instructors can preview the recommendation letter, edit or save the letter, and then download the letter as a doc file.
          </li>
          
        </ul>
        <br>
    </div>
  </body>
</html>
