<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/form-completed.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
</head>

<body>
  <form id="RecommendeeForm">
    <div class="container-fluid completed-box" id="outside">
      <div class="row">
        <div class="col">
          <div id="form-title-container" class="form-group">
            <i id="check-icon" class="bi bi-check-lg"></i>
            <p id="form-title">Thank You!</p>
            <div class="question-container">
              <p id="form-title" class="title p-4">
                <%= title %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</body>

</html>