<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/form-entry.css" />
    </head>
    <body>
        <div class="header"></div>
        <p class="title"><%= title %></p>
    </body>
</html>