<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://use.typekit.net/ebq4wgm.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/login.css" />
    </head>
    <body>
        <a href="https://www.usc.edu" target="_blank">
            <img id ="usc-logo" src="/images/usc_logo_big.png" alt="University of Southern California" style="height:100px;"/>
        </a>
        <h1 class="title"><%= title %></h1>
        <button class="sign-in-button" onclick="location.href='<%= url %>';">
            <img src="/images/google_logo.svg" height="24" width="24"/>
            <span>Sign in with Google</span>
        </button>
    </body>
</html>
