<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/login.css" />
    </head>
    <body>
        <h1 class="title"><%= title %></h1>
        <p class="subtitle"><%= subtitle %></p>
        <button class="sign-in-button" onclick="location.href='recommender-dashboard';">
            <img src="/images/google_logo.svg" height="24" width="24"/>
            <span>Sign in with Google</span>
        </button>
    </body>
</html>