<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://use.typekit.net/ebq4wgm.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/login.css" />
    </head>
    <body>
        <a href="https://www.usc.edu" target="_blank">
            <img id ="usc-logo" src="/images/usc_logo_big.png" alt="University of Southern California" style="height:100px;"/>
        </a>
        <h1 class="title"><%= title %></h1>
<!-- added this stuff -->
        <div>
          <p>Create an account or login</p>
          <div>
              <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
              <a href="/users/loginlocal" class="btn btn-secondary btn-block">Login</a>
<!-- end here -->
              <button class="sign-in-button" onclick="location.href='<%= url %>';">
                  <img src="/images/google_logo.svg" height="24" width="24"/>
                  <span>Sign in with Google</span>
              </button>
<!-- added this stuff -->
          </div>
        </div>
<!-- end here -->
    </body>
</html>
