<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
  </head>
  <body>
    <header>
        <% include ../partials/header %>
    </header>
    <h1><%= title %></h1>
        <p>This is an empty profile page.</p>
  </body>
</html>