<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/recommender-dashboard.css" />
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <p class="title"><%= title %></p>
        <div class="add-btn" onclick="openModal()">+</div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="close-container">
                    <span class="close" onclick="closeModal()">&times;</span>
                </div>
                <p class="modal-title">Enter Email</p>
                <form class="input-form" method="POST" action="/recommender-dashboard">
                    <input class="input-text" type="text" name="email">
                    <input class="input-submit" type="submit" value="Send">
                </form>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Template</td>
                    <td class="center">Status</td>
                </tr>
            </thead>
            <tbody>
                <% for (var rec of recommendees) { %>
                    <% console.log(rec.template) %>
                    <tr>
                        <td><%= rec.email %></td>
                        <td><%= rec.template %></td>
                        <td class="center">
                            <% if (rec.status == 'X') { %>
                                <img class="status" src="/images/red_x.png"/>
                            <% } else { %>
                                <img class="status" src="/images/green_checkmark.png"/>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <script>

            // Get the modal
            var modal = document.getElementById('myModal');
        
            // When the user clicks on the button, open the modal 
            function openModal() {
                modal.style.display = "block";
            }
        
            // When the user clicks on <span> (x), close the modal
            function closeModal() {
                modal.style.display = "none";
            }
        
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    </body>
</html>